<h1>Register</h1>
<% if flash[:user] %>
    <% @user=User.new(flash[:user]) %>
<% end %>
<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>
    <%= render 'shared/errors' %>
    <fieldset>
      <li class="required">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </li>
      <li class="required">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </li>
      <li class="required">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </li>
      <li class="required">
        <%= f.label :state %>
        <%= f.select :state, ['AA', 'BB', 'CC']%>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>
      <li class="required">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </li>
      <p>
        <%= f.submit %>
      </p>
    </fieldset>
<% end %>
<h1>Login</h1>
<%= form_tag(session_path) do %>
    <fieldset>
      <p>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, autofocus: true %>
      </p>
      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil %>
      </p>
      <p>
        <%= submit_tag "Login" %>
      </p>
    </fieldset>
<% end %>
