<article id="user">
  <%= form_for @user do |f| %>
      <%= render 'shared/errors' %>
      <fieldset>
        <li class="required">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </li>
        <li class="required">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </li>
        <li class="required">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </li>
        <p>
          <%= f.submit %>
        </p>
      </fieldset>
  <% end %>
</article>
