<h1>All event</h1>
<table id="events">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Host</th>
    <th>Action/Status</th>
  <tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td>host data</td>
        <td>
          <% if event.user.id == session[:user_id] %>
              <%= link_to "Edit", event %>
              <%= link_to "Delete", event, method: :delete %>
          <% else %>

          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<h1>Add event</h1>

<% if flash[:event] %>
    <% @event=Event.new(flash[:event]) %>
<% end %>
<%= form_for @event do |e| %>
    <%= render 'shared/errors' %>
    <fieldset>
      <li class="required">
        <%= e.label :name %>
        <%= e.text_field :name %>
      </li>
      <li class="required">
        <%= e.label :date %>
        <%= e.date_field :date %>
      </li>
      <li class="required">
        <%= e.label :location %>
        <%= e.text_field :location %>
      </li>
      <li class="required">
        <%= e.label :state %>
        <%= e.select :state, ['AA', 'BB', 'CC'] %>
      </li>
      <p>
        <%= e.submit %>
      </p>
    </fieldset>
<% end %>
