<div id="left_div" style="float: left">
  <div id="event_info">
    <table>
      <tr>
        <td>Host:</td>
        <td><%= @event.user.first_name %></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><%= @event.date %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= @event.location %>, <%= @event.state %></td>
      </tr>
      <tr>
        <td>People Who are joining the event</td>
        <td><%= @event.joined_users.size %></td>
      </tr>
    </table>
  </div>
  <br>
  <div id="event_attendees">
    <table>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>State</th>
      </tr>
      <% @joined_users.each do |user|%>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.location %></td>
            <td><%= user.state %></td>
          </tr>
      <% end%>
    </table>
  </div>
</div>
<div id="right_div" style="float: right">
  <h1>Discussion about the event</h1>
  <textarea name="disscussion" id="discussion" cols="80" rows="10">
    <%= @comment_string %>
  </textarea>
  <h1>Add Comment:</h1>
  <%= form_tag(comments_path) do %>
      <fieldset>
        <p>
          <%= text_area_tag :comment, nil, rows: 10, cols: 60 %>
        </p>
        <p>
          <%= hidden_field_tag :event_id, @event.id%>
        </p>
        <p>
          <%= submit_tag "Submit Comments" %>
        </p>
      </fieldset>
  <% end %>

</div>
